* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
#section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 20rem;
}
#content h1,
h4 {
  margin: 4rem 0rem;
}
#content h1 {
  font-size: 3rem;
}
#birthDate {
  width: 15rem;
  text-align: center;
  margin: 0 0 3rem 35rem;
  outline: none;
  cursor: pointer;
  padding: 0.7rem;
  border: none;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  font-weight: bold;
}
a {
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  transition: 0.2s;
  width: 10rem;
  margin: 0 0 3rem 37.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

a:hover {
  color: #000000;
  background: #ffffff;
  box-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}
#gif {
  visibility: hidden;
  height: 10rem;
  width: 10rem;
  margin: 0 0 3rem 37.5rem;
}
#gif.show {
  visibility: visible;
}
#output {
  font-size: 5rem;
  color: white;
}
