@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
#section {
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
#content h1,
h4 {
  margin: 4rem 0rem;
}
#content h1 {
  font-size: 6rem;
  font-family: 'Caveat', cursive;
  background-image: linear-gradient(45deg, #78f3d4, #c92050);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#content h4 {
  font-family: 'Secular One', sans-serif;
  letter-spacing: 0.7rem;
}
#birthDate {
  display: block;
  width: 15rem;
  text-align: center;
  margin: 0 0 3rem 0;
  outline: none;
  cursor: pointer;
  padding: 0.7rem;
  border: none;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  font-weight: bold;
  margin: auto;
}
button {
  display: block;
  padding: 6px 15px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  transition: 0.2s;
  width: 10rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
  margin: 4rem auto 0rem;
  outline: none;
  border: none;
}

button:hover {
  background-image: linear-gradient(45deg, #78f3d4, #c92050);
  box-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}
#gif {
  visibility: hidden;
  height: 6rem;
  width: 6rem;
  margin: 2rem auto;
}
#gif.show {
  visibility: visible;
}
#output {
  font-family: 'Secular One', sans-serif;
  font-size: 2.5rem;
  color: white;
  width: 100%;
  background-image: linear-gradient(45deg, #78f3d4, #c92050);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
